body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

header {
  background-color: gray;
  height: 15%;
  display: flex;
  position: sticky; top: 0 ;
}

.sign-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card{
  width: 20%;
}

.game-card img{
  width: 100%;
}

.games-container{
  display: flex;
  flex-wrap: wrap;
}

